body {
    background-color: gainsboro;
}
.cv-container {
    max-width: 700px;
    margin: 0 auto;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }

  .custom-hr {
    height: 5px;
    background-color: lightblue; 
    border: none; 
    margin: 10px 0; 
  }
  
.custom-image {
    width: 70%;
    height: 70%;
}